<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>{{s}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='s/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
  	<link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  	<style>
  		.button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  	</style>
  </head>

  <body>
    <div class="page-scroller">
	<div class="list-wrapper">
		<ul class="list">

			{% for k in range(songs_lens) %}
			<li>
				<h3>{{stitles[k]}}
				<button class="button" type="button" onClick="window.open('/song/{{sids[k]}}')"><i class="fa fa-headphones" aria-hidden="true"></i></button></h3>
				<p>{{sstitles[k]}}</p>
			</li>
			{% endfor %}

			{% for k in range(albums_lens) %}
			<li>
				<h3>{{stitles[k]}}<button class="button" type="button" onClick="window.open('/album/{{sids[k]}}')"><i class="fa fa-headphones" aria-hidden="true"></i></button></h3>
				<p>{{sstitles[k]}}</p>
			</li>
			{% endfor %}

			{% for k in range(playlists_lens) %}
			<li>
				<h3>{{stitles[k]}}<button class="button" type="button" onClick="window.open('/playlist/{{sids[k]}}')"><i class="fa fa-headphones" aria-hidden="true"></i></button></h3>
				<p>{{sstitles[k]}}</p>
			</li>
			{% endfor %}

		</ul>
	</div>
</div>

<div class="page-wrapper">
</div>
    <script src="{{ url_for('static', filename='s/iscroll-probe.min.js') }}"></script>

        <script src="{{ url_for('static', filename='s/index.js') }}"></script>

  </body>
</html>
